@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
    font-family: Ubuntu;
}

a,
a:hover {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 3vw;
}


.outer-container {
    margin: 10% auto;
}

table.projects {
    margin: 0 auto;
}

th, td {
    padding: 10px;
}

input.login, input.password {

    border-top: 1px;
    background-color: lightgrey;
    border: none;
    min-width: 8vw;
}

label {
    margin-top: 20px;
    display: block;
    font-size: 12px;
}

a.enter {
    margin-top: 20px;
    font-size: 12px;
    min-width: 10vw;
}