@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 20px;
}

body {
    font-family: Ubuntu;
}

a,
a:hover {
    color: white;
    text-decoration: none;
}


.fa-caret-up {
    display: block;
    margin: 0;
}

.outer-container {
    margin: 10% auto;
}

table.projects {
    margin: 0 auto;
}

th, td {
    padding: 10px;
}

input.login, input.password {

    border-top: 1px;
    background-color: lightgrey;
    border: none;
    min-width: 8vw;
}

textarea {
    resize: none;
}

label {
    margin-top: 20px;
    display: block;
    font-size: 12px;
}

a.enter {
    margin-top: 20px;
    font-size: 12px;
    min-width: 10vw;
}

.img-placeholder {
    margin: 20px auto;
    height: 120px;
    width: 150px;
    background-color: lightgrey;
}

.img-placeholder-long {
    margin: 20px auto;
    height: 350px;
    width: 200px;
    background-color: lightgrey;
}

.img-placeholder-width {
    margin: 20px auto;
    height: 150px;
    width: 250px;
    background-color: lightgrey;
}

.box {
    border: solid 1px black;
    padding: 20px;
    width: 300px;
}
