@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Catamaran');



/* General Styles */

* {
    box-sizing: border-box;
}

body {
    font-family: Catamaran;
}

h2 {
    margin-top: 0;
    border-bottom: 1px solid lightgrey;
}
h3 {
    margin-bottom: 0;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-20{
    margin-top: 20px;
}



/* Button Classes */

.button {
    padding: 4px;
    border: 1px;
    font-size: 14px;
    margin-right: 5px;
    min-width: 70px;
}

.blue {
    background-color: #13c4e7;
    color: white;
    padding: 5px;
}
    a.blue:hover {
        background-color: #12b8d9;
        color: white;
    }

.border {
    border: 1px solid lightgrey;
    background-color: white;
}


.fa.fa-plus {
    margin-left: 5px;
}


input {
    height: 25px;
}

textarea {
    height: 90px;
}

input, textarea, select {
    border-radius: 3px;
    border: solid lightblue 1px;
    min-width: 150px;
}

a {
    color: black;
    text-decoration: none;
}

button.closeslide {
    position: absolute; 
    left: 3px; 
    top: 3px; 
    border: 0;
}

button.slideup {
    position: absolute; 
    right: -3px; 
    top: 0; 
    margin-right: -22px;
    border: 0;

}

button.slidedown {
    position: absolute; 
    right: -3px; 
    top: 20px; 
    margin-right: -22px;
    border: 0;

}

.fa.fa-hand-pointer-o {
    margin-right: 5px;
}


.fa-caret-up {
    display: block;
    margin: 0;
}

.outer-container {
    margin: 10% auto;
}

th {

}


td {
    padding: 10px;
    font-size: 12px;
}

input.login, input.password {
    border-top: 1px;
    background-color: lightgrey;
    border: none;
    min-width: 8vw;
}

textarea {
    resize: none;
}

label {
    margin-top: 20px;
    display: block;
    font-size: 12px;
}

a.enter {
    margin-top: 20px;
    font-size: 12px;
    min-width: 10vw;
}

.img-placeholder {
    margin-top: 20px;
    height: 120px;
    width: 150px;
    background-color: lightgrey;
}

.img-placeholder-long {

    height: 250px;
    width: 200px;
    background-color: lightgrey;
}

.img-placeholder-width {
    height: 150px;
    width: 250px;
    background-color: lightgrey;
}

.img-placeholder-pdf{
    height: 120px;
    width: 90px;
    background-color: lightgrey;
}

.slidebox {
    position: relative;
    border: solid 1px lightgrey;
    padding: 25px;
    width: 300px;
    margin: 0 auto 20px;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
    

select.content {
    padding: 5px;
    margin-top: 20px;
    width: 150px;
    height: 25px;
}

